<h3><i class="fas fa-book-reader"></i>StoryBooks</h3>
<div class="section">
    <p class="lead">Crate public and private storyes</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google">Log in with google</i>
    </a>
</div>
